################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountOwnerServer/.vs/AccountOwnerServer/v16
